.profile {
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
  width: 300px;
  font-size: 24px;
  color: #1c1e21;

  background-color: rgb(233, 233, 233);
  box-shadow: 0px 0px 100px 10px rgb(120, 111, 111),
    0px 0px 50px 2px rgb(208, 205, 205);
}

.name {
  font-weight: bold;
}

.label {
  display: block;
  font-weight: bold;
  color: #25c2a0;
}
.avatar {
  width: 150px;
  border-radius: 50%;
  object-position: 0px 10px;
  background-color: #6d786b;
}

.stats {
  padding: 0;
  display: flex;
}

.statsItems {
  flex-grow: 0;
  flex-shrink: 1;
  width: 33.33%;
  list-style: none;
  padding: 10px;

  font-size: 16px;
  border-top: 1px solid #a5a5a5;
  background-color: rgb(209, 209, 209);
}
.statsItems:not(:last-child) {
  border-right: 1px solid #383e36;
}
